
.toplink{
    background-color: #6a994e
    overflow: hidden;
}

.toplink a{
    color: azure;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}


.toplink a{
    color: #dad7cd;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}
.toplink a:hover{
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-decoration: none;
}

.toplink-right{
    float: right;
}

