
.toplink{
    background-color: #3a5a40;
    overflow: hidden;
}

.toplink a{
    color: azure;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}

.toplink a:hover{
    color: rgb(17, 17, 17);
    overflow: hidden;
}

.toplink a{
    color: #dad7cd;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}

.toplink-right{
    float: right;
}

