body{
    margin : 0;
    background-color: #ffffff;
}
*{
    box-sizing: border-box;
}
.toplink{
    background-color: #3a5a40;
    overflow: hidden;
}

.toplink a{
    color: azure;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}

.toplink a:hover{
    color: rgb(17, 17, 17);
    overflow: hidden;
}

.toplink a{
    color: #dad7cd;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}

.toplink-right{
    float: right;
}

.banner{
    background-color: #3a5a40;
    padding: 20px;
    text-align: center;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.content{
    float: left;
    width: 70%;
    padding: 15px;
}

.side_bar{
    float: left;
    width: 30%;
    padding: 15px;
}

h2{
    text-align: left;
    color:rgb(17, 194, 120);
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}

td{
    border: 1px solid #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color:  rgb(83, 81, 78);
    color: rgb(233, 233, 233);
    border: 1px solid  rgb(83, 81, 78);
    padding: 5px;
    text-align: left;
}

.footer{
    background-color: #588157;
    padding: 20px;
    text-align: center;
    color: #373737;
}

